@model IEnumerable<EasyMoto.Models.Utilizadores>

@{
    ViewData["Title"] = "Início";
}

@if (User.Identity.IsAuthenticated && User.Identity.Name != "admin@easymoto.com") {
    <h1>@User.Identity.Name</h1>
}
else {
    <h1>Utilizadores</h1>
}


@*<p>
        <a asp-action="Create">Criar novo Utilizador</a>
    </p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Morada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodPostal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telemovel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NIF)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Morada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodPostal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telemovel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NIF)
                <td>
                    @*se a pessoa estiver autenticada mostro *@
                    @if (User.Identity.IsAuthenticated)
                    {
                        <text>
                            <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                            @if (User.Identity.Name == "admin@easymoto.com")
                            {
                                <text> | </text>
                        <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                    }
                            </text>
                        }

                </td>
            </tr>
        }
    </tbody>
</table>
